* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4434a9;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.navbar h1 {
    margin: 0;
    color: white;
    font-size: 22px;
}

.symbol_name {
    padding: 20px 20px;
    padding-bottom: 0;
    color: white;
    background-color: #06090f;
    font-size: 23px;
}